# The following packages and libraries are needed to sucessfully process the datasets
bs4
collections
concurrent.futures
datetime
dateutil
gensim
google-colab
nltk
number-parser
tqdm
transformers
opencv-python
datefinder
lxml
matplotlib
numpy
openai
pandas
pickle-mixin
pytesseract
requests
seaborn
wikipedia-api
